@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center ;
    text-decoration: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #363753;
    align-items: center;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-family: poppins,sans-serif;
  }
  
  h1 {
    font-size: 36px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
  }
  
  .subject {
    background-color: #EF316D;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    align-items: center;
    font-size: xx-large;
    font-family:cursive;
  }
  .btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   button:hover {
    color: black;
   }
   
   button:after {
    content: "";
    background: #EF316D;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }